{{> head}}
{{> navbar}}

{{#if message}}
  <div class="alert alert-{{message.type}}" role="alert">
    {{message.message}}
  </div>
{{/if}}

{{#if isLogin}}
<div class="container">
    <div class="row">
        <div class="col">
            <select name="user_id" id="user_id">
                <option value="..." disabled>Select user...</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <select name="showtime_id" id="showtime_id">
                <option value="..." disabled>Select showtime...</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <input type="text" name="seat_number" id="seat_number" placeholder="Seat number">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button type="submit" class="mt-4">Add</button>
        </div>
    </div>
    <div class="row">
        <div class="row">
            <div class="col">
                <h2>List of Booking</h2>
            </div>
        </div>
        {{#each bookings}}
        <div class="row">
            <div class="row">
                <div class="col-3">
                    <span>User: </span>
                </div>
                <div class="col">
                    <span>{{this.user_id}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <span>Show Time: </span>
                </div>
                <div class="col">
                    <span>{{this.showtime_id}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <span>Seat Numbers: </span>
                </div>
                <div class="col">
                    <span>{{this.seat_number}}</span>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>
{{else}}

{{> notLogin}}

{{/if}}

{{> footer}}