{{> head}}
{{> navbar}}

{{#if message}}
  <div class="alert alert-{{message.type}}" role="alert">
    {{message.message}}
  </div>
{{/if}}

{{#if isLogin}}
<div class="container">
    <div class="row">
        <div class="col">
            <select name="ticket_id" id="ticket_id">
                <option value="..." disabled>Select ticket...</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <input type="number" name="amount" id="amount">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <input type="number" name="sub-total" id="sub-total" disabled>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button type="submit" class="mt-4">Add</button>
        </div>
    </div>
    <div class="row">
        <div class="row">
            <div class="col">
                <h2>List of Payments</h2>
            </div>
        </div>
        {{#each payments}}
        <div class="row">
            <div class="row">
                <div class="col-3">
                    <span>Ticket: </span>
                </div>
                <div class="col">
                    <span>{{this.ticket_id}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <span>Amount: </span>
                </div>
                <div class="col">
                    <span>{{this.amount}} seat</span>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <span>Sub-Total: </span>
                </div>
                <div class="col">
                    <span>Rp {{this.sub_total}}</span>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>
{{else}}

{{> notLogin}}

{{/if}}

{{> footer}}