{{> head}}
{{> navbar}}

{{#if message}}
  <div class="alert alert-{{message.type}}" role="alert">
    {{message.message}}
  </div>
{{/if}}

{{#if isLogin}}
<div class="container">
    <div class="row">
        <div class="col">
            <h2>Show Time</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <select name="movie_id" id="movie_id">
                <option value="..." disabled>Select movie...</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <input type="date" name="date_show" id="date_show">
        </div>
        <div class="col-4">
            <input type="time" name="time_show" id="time_show">
        </div>
        <div class="col-4">
            <input type="time" name="venue" id="venue">
        </div>
    </div>
    <div class="row">
        <div class="input-group mb-3">
            <span class="input-group-text">Rp</span>
            <input type="number" class="form-control" name="price" id="price">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button type="submit" class="mt-4">Add</button>
        </div>
    </div>
    <div class="row">
        <div class="row">
            <div class="col">
                <h2>List of Show Time</h2>
            </div>
        </div>
        {{#each showtimes}}
        <div class="row">
            <div class="row">
                <div class="col-3">
                    <span>Movie: </span>
                </div>
                <div class="col">
                    <span>{{this.movie_id}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <span>Date Show: </span>
                </div>
                <div class="col">
                    <span>{{this.date_show}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <span>Time Show: </span>
                </div>
                <div class="col">
                    <span>{{this.time_show}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <span>Venue Open: </span>
                </div>
                <div class="col">
                    <span>{{this.venue}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <span>Price: </span>
                </div>
                <div class="col">
                    <span>Rp {{this.price}} / seat</span>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>
{{else}}

{{> notLogin}}

{{/if}}

{{> footer}}