{{> head}}
{{> navbar}}

{{#if message}}
  <div class="alert alert-{{message.type}}" role="alert">
    {{message.message}}
  </div>
{{/if}}

{{#if isLogin}}
<div class="container">
  <div class="row text-center m-3">
    <div class="col">
      <h2>Genre</h2>
    </div>
  </div>
  <div class="row justify-content-center fs-5 text-center">
    <div class="col">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Add new genre" aria-label="Add new genre" aria-describedby="button-addon2" name="genre" />
        <button class="btn btn-outline-secondary" type="submit">Add</button>
      </div>
    </div>
  </div>
  {{!-- {{#if genres}}
  <div class="row text-center m-3">
    <div class="col">
      <span>{{genres.0.genre}}</span>
    </div>
  </div> --}}
  {{#each genres}}
  <div class="row text-center m-3">
    <div class="col">
      <span>{{this.genre}}</span>
    </div>
  </div>
  {{/each}}
  {{!-- {{/if}} --}}
</div>
{{else}}

{{> notLogin}}

{{/if}}

{{> footer}}